---
import Menu from "../components/Menu";
import Page from "../components/Page";
import Player from "../components/Player";
import SimplePlayer from "../components/SimplePlayer";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Hifz Helper">
  <div class="flex flex-col">
    <Menu client:load />
    <SimplePlayer client:load />
    <Player client:load />
    <Page client:load />
  </div>
</Layout>
